@media only screen and (min-width:600px) {
    .RightSide{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 5px;
    }
}

@media only screen and (min-width:600px){
    .navIcons{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }
}

.navIcons>a>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>img:hover{
    cursor: pointer;
}


@media only screen and (min-width:800px){
    .r-button{
        height:3rem;
        width: 80%;
        align-self: center;
    }

}